body {
	font-family: verdana, helvetica, sans-serif;
	font-size: small;
	max-width: 640px;
}

#navigation {
	border-bottom: 1px solid;
	padding-bottom: 5px;
}

h1,h2,h3,h4 {
	font-family: trebuchet, "trebuchet ms", sans-serif;
}

h2, h3 {
    margin-top: 30px;
}


body {
    max-width: 740px;
    margin-left: 50px;
}

ul {
}

li {
    margin-top: 5px;
}

dl {
    margin-left: 20px;
}

dt {
    margin-top: 10px;
}

dd {
    margin-left: 20px;
}

table {
    border-collapse: collapse;
    margin-bottom: 5px;
}


th, td, tr {
    border: 1px solid black;
    font-size: small;
}

th {
    font-weight: bold;
    padding: 2px;
}

td {
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
    vertical-align: top;
}

a {
    color: blue;
}

.notfound a {
    color: red;
}

a[href $='.pdf'] { 
    background-image: url(pdf.png);
    background-repeat: no-repeat;
    padding-left: 20px;
}

a[href $='.sql'] { 
    background-image: url(sql.png);
    background-repeat: no-repeat;
    padding-left: 20px;
}

a[href $='.zip'] { 
    background-image: url(zip.png);
    background-repeat: no-repeat;
    padding-left: 20px;
}

a[href ^='http'] { 
    background-image: url(external.gif);
    background-repeat: no-repeat;
    padding-left: 16px;
}

.justout {
    color: red;
}

pre {
  font-size: 12px;
  border: 1px solid;
  padding-left: 5px;
}

pre a[href ^='http'] {
  background: none;  
  padding-left: 0px;
}
